<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Exercise 2 - My Project

## Exercise 3 - Hello, this is an introduction to my project

### Exercise 4 - Here is a list of some popular Data Science Languages:

* Python
* R
* SQL 
* Scala 
* Java
* C++
* Julia
* JavaScript
* PHP
* Go
* Ruby 
* Visual Basic

### Exercise 5 - Here is a list of popular Data Science Libraries:

For Visualization:

* Matplotlib
* Seaborn
* Plotly
* Ggplot2

For Machine Learning:

* Sci-kit Learn

For Deep Learning:

* Tensorflow
* Keras
* PyTorch

For Cluster Computing:

* Apache Spark

### Exericse 6 - Here is a list of Data Science Tools:

For Data Management:

* MySQL
* PostgreSQL
* MongoDB 
* Apache CouchDB 
* Apache Cassandra
* Hadoop 

For Data Integration and Transform:

* Apache Airflow
* KubeFlow
* Apache Kafka

For Data Visualization:

* PixieDust
* Hue
* Kibana
* Superset

For Model Deployment

* PredictionIO
* Seldom 
* Mleap
* TensorFlow Serving

For Model Monitoring and Assessment:

* ModelDB
* Prometheus

Code Asset Management:

* Git
* GitLab
* GitHub


Data Asset Management:

* Apache Atlas
* Kylo

### Exercise 7 - Intro to Arithmetic

In mathematics, arithmetic is a branch that deals with the properties and manipulation of numbers. Arithmetic expressions involve various operations such as addition, subtraction, multiplication, and division. Let's explore some examples to understand these concepts.

#### Addition

The addition operation is denoted by the `+` symbol. For example:

\[ 2 + 3 = 5 \]

#### Subtraction

Subtraction uses the `-` symbol. For example:

\[ 7 - 4 = 3 \]

#### Multiplication

Multiplication is represented by the `*` symbol. For example:

\[ 5 \times 6 = 30 \]

#### Division

Division uses the `/` symbol. For example:

\[ \frac{10}{2} = 5 \]

These basic arithmetic operations serve as the foundation for more complex mathematical concepts. In Jupyter, you can use code cells to perform these calculations and observe the results interactively.

### Exercise 8

In [4]:
x = 2
y = 3

xy_add = x + y
xy_mult = x * y

print(f'The addition of {x} and {y} leads to the number {xy_add}')
print(f'The multiplication of {x} and {y} leads to the number {xy_mult}')

The addition of 2 and 3 leads to the number 5
The multiplication of 2 and 3 leads to the number 6

### Exercise 9

In [5]:
x_mins = 190

x_hours = 90/60

print(f'{x_mins} minutes is equal to {x_hours} hours')

190 minutes is equal to 1.5 hours

### Exercise 10 - List Objectives

List of Objectives:

* Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

* Exercise 3 - Create a markdown cell for an introduction. (1 pt)

* Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

* Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

* Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

* Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

* Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

* Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

* Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

* Exercise 11 - Create a markdown cell to indicate the Author’s name. (2 pts)

* Exercise 12 - Share your notebook through GitHub (3 pts)

* Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

## Exercise 11 - Create a markdown cell to indicate the Author’s name

### Author : Dylan Tafara Ndengu